* {
  margin: 0 auto;
  padding: 0;
}

h1 {
  color: rgb(24, 180, 115);
  font-size: 96px;
  font-weight: 900;
  font-style: oblique;
  text-decoration: solid;
  text-transform: capitalize;
  text-align: center;
}

h2 {
  color: brown;
  margin: 5px;
}

p {
  font-size: 18px;
  text-align: justify;
  text-indent: 10px;
  margin-left: 5px;
}

.bg {
  height: 800px;
  width: 100%;
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
